/* You can add global styles to this file, and also import other style files */
$bgc-color: #303030;
$font-color: ghostwhite;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bgc-color;
  color: $font-color;
}

mat-form-field {
  .mat-mdc-text-field-wrapper {
    border-radius: 8px;
    overflow: hidden;
  }
}