<div class="container">
  <div class="chat-container">
    <div class="chat-area" cdk-scrollable #scrollContainer>
      @for (message of messages; track message) {
        <div [ngClass]="message.role === 'user' ? 'userMsg' : 'botMsg'">
          <p class="content">{{ message.content }}</p>
<!--          <app-drink-card [drink]="mock" />-->
          <p class="role">
            @switch (message.role) {
              @case (Role.User) {
                <span>💁🏻‍♀️</span>
              }
              @case (Role.Assistant) {
                <span>🧚🏻‍♀️</span>
              }
            }
          </p>
        </div>
      } @empty {
        <p class="flex items-center justify-center">Start typing to show something here...</p>
      }
    </div>

    <form
      class="input-form"
    >
      <input
        #messageInput
        class="input"
        placeholder="Type your message..."
      >
      <button
        class="button"
        type="submit"
        (click)="sendMessage(messageInput.value); messageInput.value = ''">
        🪄
      </button>
    </form>
  </div>
</div>



