<mat-card class="drink-card">
  <mat-card-header class="drink-card__header">
    <mat-card-title>{{ drink.name }}</mat-card-title>
  </mat-card-header>
  <div class="drink-card__subtitle">
    <img class="drink-card__image" mat-card-image [src]="'assets' + drink.image || 'assets/default-drink-image.jpg'" alt="Drink image" width="200" height="400"/>
    <div class="drink-card__ingredients">
      <h3>Ingredients: </h3>
      <ul class="drink-card__ingredients-list">
        <li *ngFor="let ingredient of drink.ingredients">- {{ ingredient }}</li>
      </ul>
    </div>
  </div>
  <mat-card-content class="drink-card__content">
    <p>{{ drink.recipe }}</p>
  </mat-card-content>
</mat-card>
