// Variables for customizing the scrollbar colors
$scrollbar-thumb-color: rgba(0, 0, 0, 0.4); // Semi-transparent black
$scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.6); // Slightly less transparent on hover
$scrollbar-width: 12px;

// Mixin for custom scrollbar
@mixin custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color transparent; // Transparent track

  &::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background: transparent; // Transparent track
    border-radius: ($scrollbar-width / 2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: ($scrollbar-width / 2);
    border: 3px solid transparent; // Transparent border to add space around thumb
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $scrollbar-thumb-hover-color;
  }

  &::-webkit-scrollbar-button {
    display: none; // Hide the scroll arrows
  }
}
